.App {
  display: flex;
  min-height: 100vh;
}

.dashboard-header {
  background-color: #1976d2 !important;
  color: white !important;
}

.dashboard-title {
  flex-grow: 1;
}

.dashboard-content {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  padding-top: 64px;
}

.card-title {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.command-log-table, .notification-log-table {
  min-width: 650px;
}

.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.gauge-label {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.service-item {
  margin-bottom: 16px;
}

.send-command-button {
  margin-top: 16px !important;
}
